input[type="text"] {
  display: block;
  width: 100%;
  padding: $s-size $m-size;
  border: 1px solid $off-white;
  border-radius: 15px;

  &:focus {
    outline: none;
  }
}

input[type="color"]:hover {
  cursor: pointer;
}

.file-chooser {
  display: none;
}

label[for="file"],
label[for="file-upload"] {
  @extend button;
}