//Colors
$black: #1a1a1a;

$blue: #0059d1;
$blue-light-4: #4c8ade;
$blue-light-1: #ccddf5;
$blue-light-0: #e5eefa;

$yellow: #ffe550;

$off-white: #e1e1e1;
// Sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$sl-size: 2rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

//Breakpoints
$mobile: 45rem;
